apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-api-proxy
  namespace: tailscale
  labels:
    app: kube-api-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kube-api-proxy
  template:
    metadata:
      labels:
        app: kube-api-proxy
    spec:
      containers:
        - name: socat
          image: alpine/socat:latest
          args:
            - TCP4-LISTEN:6443,fork
            - TCP4:kubernetes.default.svc.cluster.local:443
          ports:
            - containerPort: 6443
---
apiVersion: v1
kind: Service
metadata:
  name: kube-api-tailscale
  namespace: tailscale
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  ports:
    - port: 443
      targetPort: 6443
      protocol: TCP
      name: https
  selector:
    app: kube-api-proxy
