apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: netbird
  namespace: netbird
spec:
  secretName: netbird-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  dnsNames:
    - netbird.trai.ch
