apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: netbird
  namespace: netbird
spec:
  interval: 10m
  chart:
    spec:
      chart: netbird
      sourceRef:
        kind: HelmRepository
        name: jaconi
        namespace: flux-system
      # Pin later if you want. For “basic”, let it pick the latest in the repo.
      # version: "0.13.0"
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    management:
      ingress:
        enabled: true
        className: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: api.netbird.trai.ch
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - api.netbird.trai.ch
            secretName: netbird-management-tls

      env:
        - name: NETBIRD_MGMT_OIDC_ISSUER
          value: "https://auth.trai.ch"
        - name: NETBIRD_MGMT_OIDC_CLIENT_ID
          value: "359848657530454327"
        - name: NETBIRD_MGMT_OIDC_AUDIENCE
          value: "359848657530454327"
    signal:
      ingress:
        enabled: true
        className: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: signal.netbird.trai.ch
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - signal.netbird.trai.ch
            secretName: netbird-signal-tls
    relay:
      ingress:
        enabled: true
        className: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: relay.netbird.trai.ch
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - relay.netbird.trai.ch
            secretName: netbird-relay-tls
