apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: netbird
  namespace: netbird
spec:
  interval: 10m
  chart:
    spec:
      chart: netbird
      sourceRef:
        kind: HelmRepository
        name: jaconi
        namespace: flux-system
      # Pin later if you want. For “basic”, let it pick the latest in the repo.
      # version: "0.13.0"
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3

  values:
    auth:
      device:
        provider: hosted
        authority: "https://auth.trai.ch"
        clientID: "359848657530454327"
        audience: "359848657530454327"
        deviceAuthorizationEndpoint: "https://auth.trai.ch/oauth/v2/device_authorization"
        tokenEndpoint: "https://auth.trai.ch/oauth/v2/token"
        scope: "openid profile email offline_access"
        useIDToken: false

    management:
      ingress:
        enabled: true
        className: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          api:
            host: api.netbird.trai.ch
            tls:
              secretName: netbird-management-tls
          grpc:
            host: grpc.api.netbird.trai.ch
            tls:
              secretName: netbird-management-grpc-tls
    signal:
      ingress:
        enabled: true
        className: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          signal:
            host: signal.netbird.trai.ch
            tls:
              secretName: netbird-signal-tls
    relay:
      ingress:
        enabled: true
        className: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: relay.netbird.trai.ch
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - relay.netbird.trai.ch
            secretName: netbird-relay-tls
