apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kitchenowl
  namespace: kitchenowl
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kitchenowl
                port:
                  number: 80
