[defaults]
inventory = ./inventory.yaml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
inject_facts_as_vars = True
vars_plugins_enabled = host_group_vars, community.sops.sops

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
