---
- name: Configure and harden VPS nodes for K3s
  hosts: k3s_nodes
  gather_facts: yes
  become: yes

  roles:
    - role: base
      tags: base
    - role: ssh_hardening
      tags: ssh
    # - role: firewall
    #   tags: firewall
    - role: fail2ban
      tags: fail2ban
    - role: xanmanning.k3s
      tags: k3s
    - role: k3s_kubeconfig
      tags: [kubeconfig, k3s]
      when: "'k3s_primary' in group_names"
