apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: twingate-operator
  namespace: twingate
spec:
  interval: 1h
  chart:
    spec:
      chart: twingate-operator
      version: "0.29.0"
      sourceRef:
        kind: HelmRepository
        name: twingate
  values:
    twingateOperator:
      network: trai
      remoteNetworkName: k3d-dev
      
      existingAPIKeySecret:
        name: twingate-secret
        key: TWINGATE_API_KEY

    kubernetes-access-gateway:
      enabled: true
      twingate:
        network: trai
        resource:
          enabled: true
          extraAnnotations:
            resource.twingate.com/name: "K3d Dev Cluster"
            resource.twingate.com/alias: "k3d.home"
