apiVersion: apps/v1
kind: Deployment
metadata:
  name: adguard
  namespace: adguard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adguard
  template:
    metadata:
      labels:
        app: adguard
    spec:
      containers:
        - name: adguard
          image: adguard/adguardhome:latest
          ports:
            - containerPort: 80
              name: http
            - containerPort: 3000
              name: http-setup
            - containerPort: 53
              protocol: UDP
              name: dns-udp
            - containerPort: 53
              protocol: TCP
              name: dns-tcp
            - containerPort: 443
              name: https
              protocol: TCP
            - containerPort: 853
              name: tls
              protocol: TCP
          env:
            - name: TZ
              value: "UTC+1"
          volumeMounts:
            - mountPath: /opt/adguardhome/conf
              name: conf
            - mountPath: /opt/adguardhome/work
              name: work
            - mountPath: /opt/adguardhome/ssl
              name: tls-volume
              readOnly: true
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: conf
          persistentVolumeClaim:
            claimName: adguard-conf
        - name: work
          persistentVolumeClaim:
            claimName: adguard-work
        - name: tls-volume
          secret:
            secretName: adguard-tls
