---
# Who can SSH into these servers?
# If empty [], SSH is open to the world (0.0.0.0/0) but protected by Fail2Ban/Rate Limiting.
admin_allowed_cidrs: []

# This MUST match the `ip_range` defined in OpenTofu `hcloud_network` resource.
cluster_allowed_cidrs:
  - "10.0.0.0/16"

# --- K3s Configuration (xanmanning.k3s) ---
k3s_become: true
k3s_release_version: stable

# High Availability (HA) Mode
k3s_etcd_datastore: true

k3s_registration_address: "{{ hostvars[groups['k3s_primary'][0]]['k3s_node_ip'] }}"

k3s_server:
  flannel-backend: vxlan
  flannel-iface: ens10
  node-ip: "{{ k3s_node_ip }}"

  # TODO: Disable Traefik if to install it via GitOps later (recommended for Flux)
  # disable:
  #   - traefik
  #   - servicelb

  # Security hardening
  kubelet-arg:
    - "anonymous-auth=false"

  # Allow access to API from your machine (if using public IP)
  tls-san:
    - "apollo.trai.ch"
    - "{{ ansible_host }}"
    - "{{ k3s_node_ip }}"

k3s_agent:
  kubelet-arg:
    - "anonymous-auth=false"
