apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zitadel
  namespace: zitadel
spec:
  interval: 10m
  chart:
    spec:
      chart: zitadel
      version: "9.x.x"
      sourceRef:
        kind: HelmRepository
        name: zitadel
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    zitadel:
      masterkeySecretName: "zitadel-masterkey"
      configmapConfig:
        ExternalSecure: true
        ExternalDomain: "auth.trai.ch"
        Database:
          Postgres:
            User:
              SSL:
                Mode: "require"

    initJob:
      command: "zitadel"

    env:
      # --- Superuser (Admin) Credentials ---
      - name: ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME
        value: "postgres"
      - name: ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD
        valueFrom:
          secretKeyRef:
            name: zitadel-db-superuser
            key: password

      # --- Application User Credentials ---
      - name: ZITADEL_DATABASE_POSTGRES_HOST
        valueFrom:
          secretKeyRef:
            name: zitadel-db-app
            key: host
      - name: ZITADEL_DATABASE_POSTGRES_PORT
        valueFrom:
          secretKeyRef:
            name: zitadel-db-app
            key: port
      - name: ZITADEL_DATABASE_POSTGRES_DATABASE
        valueFrom:
          secretKeyRef:
            name: zitadel-db-app
            key: dbname
      - name: ZITADEL_DATABASE_POSTGRES_USER_USERNAME
        valueFrom:
          secretKeyRef:
            name: zitadel-db-app
            key: user
      - name: ZITADEL_DATABASE_POSTGRES_USER_PASSWORD
        valueFrom:
          secretKeyRef:
            name: zitadel-db-app
            key: password
    ingress:
      enabled: true
      className: "traefik"
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-production"
      hosts:
        - paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - "auth.trai.ch"
          secretName: zitadel-tls
