---
- name: Ensure local .kube directory exists
  file:
    path: "~/.kube"
    state: directory
    mode: "0700"
  delegate_to: localhost
  become: no

- name: Fetch k3s kubeconfig from server
  fetch:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "/tmp/k3s_config_{{ inventory_hostname }}"
    flat: yes
  become: yes # Required because k3s.yaml is root-only by default

- name: Replace localhost with public IP in the fetched config
  replace:
    path: "/tmp/k3s_config_{{ inventory_hostname }}"
    regexp: "https://127.0.0.1:6443"
    replace: "https://{{ ansible_host }}:6443"
  delegate_to: localhost
  become: no

- name: Rename context to hetzner-k3s
  shell: "kubectl config --kubeconfig=/tmp/k3s_config_{{ inventory_hostname }} rename-context default apollo"
  delegate_to: localhost
  become: no

- name: Merge with existing local kubeconfig
  shell: |
    export KUBECONFIG=~/.kube/config:/tmp/k3s_config_{{ inventory_hostname }}
    kubectl config view --merge --flatten > ~/.kube/config_merged
    mv ~/.kube/config_merged ~/.kube/config
    chmod 600 ~/.kube/config
  delegate_to: localhost
  become: no
  register: merge_result
  changed_when: merge_result.rc == 0
